
.list {
    height: 50px;
}
.li1,.li2,.li3 {
    list-style: none;
    display: none;
    text-align: center;
    margin: 10px;
}
h1{
    cursor: pointer;
}
.listTO {
    margin: 75px;
    border: 2px solid rgb(118, 118, 118);
}
