
.menu {
    text-align: center;
}
.menu p {
    text-align: center;
}
.menu-items {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    margin-top: 50px;
}
.exception {
    margin: 30px;
}
.contain {
margin: 150px 0px 100px 0px;
}
.veloRem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
    background: url(../img/veloRemFon.jpg) no-repeat center;
}
.veloRem h3 {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 0 1px #ff5500;
}